<div class="container">
    <div class="section-title">
        <h2>Contact Us</h2>
        <p>
            If you have any questions or would like to learn more about our system, please contact us.
            We look forward to hearing from you!
        </p>
    </div>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-6 d-flex align-items-stretch infos">

            <div class="row">

                <div class="col-lg-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-map"></i>
                    <h4>Address</h4>
                    <p>Ahmadiyya Street,<br>Ojokoro, Lagos Nigeria</p>
                </div>
                <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
                    <i class="bx bx-phone"></i>
                    <h4>Call Us</h4>
                    <p>+234 8027027725</p>
                </div>
                <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
                    <i class="bx bx-envelope"></i>
                    <h4>Email Us</h4>
                    <p><a href="mailto:danmoleomomayowa@gmail.com">danmoleomomayowa@gmail.com</a></p>
                </div>
                <div class="col-lg-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-time-five"></i>
                    <h4>Working Hours</h4>
                    <p>Mon - Fri: 8AM to 8PM<br>Saturday: 9AM to 7PM</p>
                </div>
            </div>

        </div>

    </div>

</div>