<div class="container" style="background-image:url(~/css/assets/img/team/Hub.jpeg)">
    <div class="btn btn-secondary" data-bs-interval="5000">

        <div class="carousel-inner">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Hub Booker</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            We're thrilled to have you here! HubBooker is your ultimate destination for finding and booking the perfect hub for your needs.
                            Whether you're looking for a coworking space, a meeting room, or a venue for your next big event, we've got you covered.
                        </p>
                        <a asp-controller="Account" asp-action="SignUp" class="btn-get-started animate__animated ">Create Account</a>
                        <h4 class="btn-get-started animate__animated animate__fadeInUp" >Or</h4>
                        <a asp-controller="Account" asp-action="Login" class="btn-get-started animate__animated ">Log in</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">Explore Diverse Spaces Tailored to Your Needs</h2>
                        <p class="animate__animated animate__fadeInUp">Discover a wide range of options, from cozy workspaces to spacious conference rooms, all designed to meet your requirements. Our user-friendly platform makes it easy to browse, book, and manage your reservations in just a few clicks.</p>
                        <a asp-controller="Account" asp-action="Sign Up" class="nav-link">Create Account</a>
                        <h4 class="btn-get-started animate__animated animate__fadeInUp align-content-md-center">Or</h4>
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Log in</a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">Join Our Trusted Community of Hub Seekers</h2>
                        <p class="animate__animated animate__fadeInUp">Join our community of professionals and event organizers who trust HubBooker to provide them with the best spaces. Start exploring now and find the ideal hub for your next endeavor.</p>
                        <a asp-controller="Account" asp-action="Sign Up" class="btn btn-primary">Create Account</a>
                        <h4 class="btn-get-started animate__animated animate__fadeInUp align-content-md-center">Or</h4>
                        <a asp-controller="Account" asp-action="Login" class="btn-get-started animate__animated animate__fadeInUp ">Log in</a><
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>